{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create page
{% endblock %}

{% block body %}



  <div class="row">
    <div class="col-10 p-3">
      <form action="{% url 'pedia:new' %}" method="post">
        {% csrf_token %}

        <div class="form-row">
          <div class="form-group col-md-10">
            <div class="form-group">
              <label for="title_form" class="col-sm-2 col-form-label">Title:</label>
              <div class="col-sm-4">
                {{ form.title_form }}
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="info_form" class="col-sm-2 col-form-label" >Article:</label>
            <div class="form-group pl-3">
              {{ form.info_form }}
            </div>
          </div>
        </div>

        <div class="row justify-content-end">
          <div class="col-md-2 col-sm-6">
            <button type="submit" class="btn btn-lightblue border w-100">Create page</button>
          </div>
        </div>

      </form>
    </div>

  </div>

{% endblock %}



